// reset slick slider css
.slick-prev {
    // border: 1px solid orange !important;
    left: -10 !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #fff0f0 !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: FontAwesome !important;
    color: red !important;
    //content: "\f060" !important;

}

.slick-next {
    right: -10 !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #fff0f0 !important;
    }
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        //background: #dea0a0;
    }

    &.section-outstanding-doctor {
        background: #cec7c7;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid pink;
        border-bottom: 1px solid pink;
    }

    .section-body {
        // border: 1px solid magenta;

        .section-customize {
            .cover {
                margin: auto 30;
                //  border: 1px solid magenta;
            }

            .bg-image {
                // width: 278px;
                //height: 150px;
                // width: 100%;
                //height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                //   background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    // background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                    width: 278px;
                    height: 150px;
                }

                &.section-medical-facility {
                    background-image: url('../../assets/medical-facility/bv-viet-duc.jpg');
                    width: 278px;
                    height: 150px;
                }

                &.section-outstanding-doctor {
                    //  background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                    height: 150px;
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    //  border: 1px solid orangered;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }

                &.section-handbook {
                    background-image: url('../../assets/handbook/handbook.jpg');
                    width: 278px;
                    height: 150px;

                }
            }
        }
    }
}

.section-share {

    height: 330px;
    // border: 1px solid red;


    .section-container {
        margin: 0 100px;

        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }


    }

}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;

        .customize-border {
            //  border: 1px solid orange;
            padding: 20px;
        }
    }
}

.home-footer {
    text-align: center;
    // border: 1px solid orangered;
    padding-top: 8px;

    a {
        text-decoration: none;
    }

}

.section-about {
    padding: 0 100px;
    width: 100%;
    height: 100%;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;
        height: 100%;



        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding-top: 15px;
            }
        }
    }
}